<!doctype html>
<html ng-app="mattstatesPortfolio">

<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- STYLESHEETS -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
    <link href='//cdn.jsdelivr.net/devicons/1.8.0/css/devicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/animate.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <title>Matt States</title>
</head>

<body>


    <nav class="navbar-default" id="navbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!--<a class="navbar-brand" href="/">- M -</a>-->
                <a class="navbar-brand" href="/">
                    <img src="assets/images/mattlogo.svg">
                </a>
            </div>

            <!-- Navigation links to add to the hamburger menu -->
            <div class="collapse navbar-collapse" id="main-navigation">

                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/mattstates" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="http://codepen.io/mattstates/" target="_blank"><i class="fa fa-codepen"></i></a></li>
                    <li><a href="https://www.facebook.com/mstates" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://linkedin.com/in/mattstates
" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="mailto:matt@mattstates.com"><i class="fa fa-envelope"></i></a></li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



    <div class="main" ng-controller="mainController">

        <div class="container-fluid container-home" id="home">
            
            <div class="container-home-image"></div>
            <div class="home-content">
                <h1 class="animated fadeIn">Matt States</h1>
                <h2 class="animated slideInLeft">Web Developer</h2>
            </div>
            <div class="down-chevron"><i class="fa fa-angle-down"></i></div>
                
        </div>
            


        <div class="container-fluid container-about" id="about">
<div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <img class="round img-responsive img-center" src="assets/images/Matt_States.png" title="Matt States" alt="Matt States">
                </div>
                <div class="col-xs-12 col-md-9">
                    <p class="bio">My name is Matt States and I am a web developer in sunny Los Angeles. I deliver efficient quality code to meet the ever-evolving demands and best practices of current web design and development standards.</p>
                    <p class="bio">I enjoy collaborating with designers, business owners, and artists to make their ideas come to life on the web. My background in marketing and music performance allows me to bring creative solutions to the table with my client's performance goals at the forefront.</p>
                </div>
            </div>
            </div>
        </div>

        <div class="tech-projects">
            <h1 class="tech-heading">Skills & Technology:</h1>
            <div class="container-fluid container-tech">

                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <h3>Programming</h3>
                        <ul>
                            <li>JavaScript</li>
                            <li>jQuery</li>
                            <li>PHP</li>
                            <li>WordPress</li>
                            <li>node.js</li>
                            <li>HTML</li>
                            <li>Angular.js</li>
                            <li>mongoDB</li>
                            <li>Terminal</li>
                            <li>git</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <h3>Design</h3>
                        <ul>
                            <li>CSS</li>
                            <li>Bootstrap</li>
                            <li>Responsive Design</li>
                            <li>Photoshop</li>
                            <li>Illustrator</li>
                            <li>InDesign</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <h3>Misc.</h3>
                        <ul>
                            <li>Communication</li>
                            <li>Organization</li>
                            <li>Performance</li>
                            <li>Objectivity</li>
                            <li>Project Management</li>
                            <li>Flexibility</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--<span class="devicons devicons-git" title="git"></span>
                <span class="devicons devicons-github_badge" title="GitHub"></span>
                    <span class="devicons devicons-php" title="PHP"></span>
                        <span class="devicons devicons-mysql" title="MySQL"></span>
                            <span class="devicons devicons-javascript_badge" title="JavaScript"></span>
                                <span class="devicons devicons-angular"  title="Angular"></span>
            <span class="devicons devicons-jquery" title="jQuery"></span>
                <span class="devicons devicons-Node.js" title="nodejs"></span>
                    <span class="devicons devicons-css3" title="CSS3"></span>
                        <span class="devicons devicons-bootstrap" title="Bootstrap"></span>
                            <span class="devicons devicons-html5" title="HTML5"></span>
                                <span class="devicons devicons-wordpress" title="WordPress"></span>
            <span class="devicons devicons-npm" title="NPM"></span>
                <span class="devicons devicons-codepen" title="CodePen"></span>
                    <span class="devicons devicons-terminal" title="Terminal"></span>
                        <span class="devicons devicons-mailchimp" title="MailChimp"></span>
                            <span class="devicons devicons-mongodb" title="MongoDB"></span>-->

            <h1 id="portfolio" class="projects-heading">Recent Projects:</h1>
            <div class="container-fluid container-projects" id="projects">

                <msproject-element class="ang-projects" ng-repeat="project in projects"></msproject-element>

            </div>
        </div>

        <div class="container container-contact" id="contact">
            <h1 class="contact-heading">Contact:</h1>
            <div class="row">

                <div class="col-xs-12 col-md-8">
                    <p class="contact">
                        I am available for freelance contracts as well as full time remote or on location employment.
                    </p>

                </div>

                <div class="col-xs-12 col-md-4">
                    <ul class="contacts">
                        <li><a href="https://github.com/mattstates" target="_blank"><i class="fa fa-github"></i> GitHub</a></li>
                        <li><a href="http://codepen.io/mattstates/" target="_blank"><i class="fa fa-codepen"></i> CodePen</a></li>
                        <li><a href="https://www.facebook.com/mstates" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
                        <li><a href="https://linkedin.com/in/mattstates
" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                        <li><a href="mailto:matt@mattstates.com"><i class="fa fa-envelope"></i> matt@mattstates.com</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid container-footer" id="footer">
        <p>© Matt States
            <%= new Date().getFullYear(); %>
        </p>
    </div>
    <script src="assets/scripts/app.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75901359-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>